$tab-background-color: #EEEEEE;
$tab-border-color: #ccc;

.tab-manager-container {
    display: grid;
    grid-template-columns: 1fr;
    border: 1px solid gray;
    padding: 30px;
    .tab-group {
        display: flex;

        .tab {
            display: flex;
            justify-content: space-around;
            width: 120px;
            margin: 15px 0 0 0;
            padding: 15px;
            border: solid $tab-border-color;
            border-width: 0;
            cursor: default;
        }

        .active {
            border: solid tab-border-color;
            border-width: 1px 1px 0 1px;
            background-color: $tab-background-color;
        }
    }

    .tab-content {
        background-color: $tab-background-color;
        padding: 10px;
    }
}